@model IEnumerable<ProjetoHemobancoWeb.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
}

<h1>Reservas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Realizar Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoSangue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                Funcionário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSangue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @item.Funcionario.Nome
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
        </tr>
}
    </tbody>
</table>
