@model IEnumerable<ProjetoHemobancoWeb.Models.UsuarioView>

@{
    ViewData["Title"] = "Usuários";
}

<h1>Novos Usuários</h1>

<p>
    <a class="btn btn-danger" asp-action="Create">Cadastrar Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
        </tr>
}
    </tbody>
</table>
